.user_card {
    width: 30%;
    margin-bottom: 30px;
    padding: 10px;
}

.user_item {
    display: grid;
    grid-template-columns: minmax(auto, 130px) 1fr;
    align-items: center;

}

.user_item img {
    width: 30%

}

.users_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px 50px;
    padding: 0;
    column-gap: 5px;
}

.pages_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background: deeppink;

}

.pages_item {
    cursor: pointer;
    margin: 5px;
}

.pages_item:hover {
    transform: scale(1.4);
}

.pages_item:focus {
    transform: scale(1.4);
}

.current {

    font-weight: bold;
    transform: scale(1.4);
}

.users_btn {
    margin-bottom: 30px;
    color: white;
    background: #32816e;
    border: none;
    padding: 20px;
    border-radius: 5px;
}

.user_item_btn {
    border-color: #32816e;
    background-color: #32816e;
    color: white;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}