.header {

    background: rgb(2, 68, 62);
    background: linear-gradient(90deg, rgba(2, 68, 62, 1) 0%, rgba(50, 129, 110, 1) 51%, rgba(162, 209, 203, 1) 100%);
    grid-column: span 2;
    display: flex;
    padding: 10px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    .link {
        padding: 0 10px;
        color: white;
        font-weight: 500;


    }

    .nav {
        width: 100%;
        padding: 0 20px;
    }


    .item {

        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;


    }

    /* .login{
        background: pink;
        border-radius: 10%;
        border: 1px solid white;
    } */

    .active {
        text-decoration: underline;
        padding: 10px;
        color: black;
    }

    a {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }

    a:hover {

        text-decoration: underline;
        text-decoration-color: coral;
        transition: ease 0.3s;
        text-underline-position: under;


    }
}
