
.header{
    background-color: green;
    grid-column: span 2;
    display: flex;
    padding: 10px;
    
    }
    .nav {
    width: 100%;
    padding:0 20px;
    }
    .list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    
    
    }
    
    .link{
        display: block;
    color:white;
    text-decoration: none;
    padding: 10px;
    }

    .item{
        background-color: rgba(61, 73, 42, 0.226);
    }
    /* .login{
        background: pink;
        border-radius: 10%;
        border: 1px solid white;
    } */
    
 .active {
      
      
        text-decoration: underline;
        padding: 10px;
        color:black;
     
    }
    
