

    .list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        /* max-width: 25%; */
        justify-content:flex-start;
        background: peachpuff;
        margin: 0;
        height: 100%;
        padding: 20px 0;
    
    
    }
    
    .activeclass{
        color:black;
        font-weight: 700;
    }